

 .card-background-page {

  ion-card {
    position: relative;
    text-align: center;
     
  }

   .card-image {
     height: 300px;
     width: 100%;
       filter: brightness(30%);

   }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 3.0em;
    width: 100%;
    font-weight: bold;
    color: white;
    
    
  }

  .card-subtitle {
    font-size: 1.8em;
    position: absolute;
    top: 55%;
    width: 100%;
     color: white;
  }

}